<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p>Milan, Italy</p>
            <h1>Radice</h1>
            <p1>An embracing fine dining cuisine driven by the philosophy of Ethical Time.</p1>
        </div>
    </div>


    <div class="row my-3">
        <div id="novedades" class="col-md-5 offset-md-2 scroll_section ">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                 <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/plato.jpg">
                        Nueva
                        receta </a>
                </li>
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1"><img src="images/plato1.jpg">
                        Nueva
                        receta </a>
                </li> 
                {{#each novedades}}
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#Modal{{id}}">{{titulo}}</a>
                </li>
                {{/each}}

            </ul>
        </div> <!-- cierra novedades -->
        <!--Modal-->

        {{#each novedades}}
        <div class="modal" id="Modal{{id}}" tabindex="-1" id="exampleModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">{{Titulo}} </h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="Modal body">
                        <h5>{{subtitulo}} </h5>
                        <p>{{cuerpo}} </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        <div class="modal" tabindex="-1" id="exampleModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Nuevo plato vegano</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="Modal body">
                        <p> Suave crema de remolacha con manzana dulce.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" id="exampleModal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Nuevo plato gluten free</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="Modal body">
                        <p> Spaghetti caseros gluten free con caviar.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> 



        <div class="col-md-3 my-3">
            <div class="rounded py-5 testimonios">
                <h2 class="text-center">Testimonios</h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonio">
                                <h5> "La excelencia está en la diversidad y el modo de progresar es conocer y
                                    comparar las diversidades de productos, culturas y técnicas"</h5>
                                <p> Alain Ducasse</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>"La cocina es un lenguaje mediante el cual se puede expresar armonía, felicidad,
                                    belleza, poesía, complejidad, magia, humor, provocación, cultura" </h5>
                                <p>Ferran Adrià</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>"El postre tiene que ser espectacular, porque llega cuando el gourmet ya no
                                    tiene hambre" </h5>
                                <p> Grimod de La Reynière </p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--<div id="historia" class="row align-items-center py-4">-->
    <!--<div class="row my-3">-->
    <div id="historia" class="col-md-8 offset-md-2 scroll_section">
        <h2>Historia</h2>
        <p>Founded on the Philosophy of Ethical Time, Radice emphasises the local dimension through the
            selection of seasonal raw materials and the involvement of ‘Lombard gardens’: farmsteads,
            dairies and farmers no more than an hour away. An invitation to enjoy a new ethical
            gastronomic experience. Radice is a locus amoenus in the beating heart of Milan, where nature
            and man’s ingenuity come together in a single work driven by criteria of harmony, where you
            can enjoy a precious moment of escape in an (im)perfect sensory microcos.</p>

        <p>Guarantor of the project, whose aim is to create a new international model of respectful
            synergy between cuisine and territory, is the South Tyrolean chef Norbert Niederkofler, Head
            of Culinary Strategy.</p>

        <p>With its terrace and indoor spaces, Radice Restaurant follows the cycle of the sun offering
            his guests an ongoing gastronomic experience starting at dawn with the breakfast service,
            continuing with lunch and ending with the aperitivo and fine dining experience.</p>
    </div>

    <div class="container text-centercol-md-7 offset-md-2">
        <div class="row">
            <div class="col align-self-start">
                <img width="420" height="300" src="images/restaurante.jpg">
            </div>
            <div class="col align-self-center">
                <img width="420" height="300" src="images/plato2.jpg">
            </div>
        </div>
    </div>



    <div id="nosotros" class="row align-items-stretch my-3 staff py-4 scroll_section" >
        <div class="col-lg-8 offset-lg-2">
            <h2>Nosotros</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="images/chef1.jpg" class="card-img-top" alt="Norbert Niederkofler">
                        <div class="card-body">
                            <h5 class="card-title">Norbert Niederkofler</h5>
                            <p class="card-text">"Born in the Dolomites, in Alto Adige, I could not help wondering
                                what
                                other
                                horizons there were beyond those high peaks. Ever since I was a child, I have always
                                had a
                                rebellious curiosity, the same that made me want to explore, see and understand the
                                how and
                                the why of things.
                                Being away from home for so long has led me to rediscover my roots, my land and how
                                to give
                                value to the raw material. When Thomas, my first child, was born, I started to look
                                at the
                                world with different eyes. Sustainability would become the principle with which to
                                change my
                                way of cooking."
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/chef.jpg" class="card-img-top" alt="Alberto Toè">
                        <div class="card-body">
                            <h5 class="card-title">Alberto Toè, executive chef</h5>
                            <p class="card-text">During his hotel studies he frequented the kitchens of a number of
                                local
                                establishments; he then went on to intern at Igles Corelli’s restaurant, at the
                                Donei
                                family’s Malga Panna restaurant and, after graduating, at the Costa family’s La Stüa
                                de
                                Michil restaurant. At just 21, he took up his first solo challenge by taking over
                                the reins
                                of the Treviso “Med”. He continued his career through experiences with: Martin
                                Berasategui,
                                Andreas Caminada (an experience that marked him greatly, both on a professional and
                                cultural
                                level), Nuno Mendes, Pietro Leeman, Norbert Niederkofler of the St. Hubertus to the
                                conquest
                                of three Michelin stars, and Le Cementine (within H-FARM, a technology, marketing
                                and
                                education company, where he was chef and manager).
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="conocenos" class="row py-4 scroll_section">
        <div class="col-md-4 offset-md-2">
            <h2>Visitanos</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.2017419408244!2d9.187162576027967!3d45.46573982107398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47793506fd86b6c3%3A0x270b9ca95809d416!2sGalleria%20Vittorio%20Emanuele%20II!5e0!3m2!1sit!2sit!4v1690646078613!5m2!1sit!2sit"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>



        <div class="col-md-4 mt-4 mt-sm-0">
            <h2>Contactanos</h2>
            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="col-md-6">
                    <label for="surname" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="surname" name="surname">
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="xxx@xxx.com">
                </div>
                <div class="col-12">
                    <label for="tel" class="form-label">Tel</label>
                    <input type="text" class="form-control" id="tel" name="tel" placeholder="12345678">
                </div>
                <div class="col-md-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
            <p> {{message}}</p>
        </div>
    </div>
</div>